<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- <h1>Home</h1>
    <h2>Your path to becoming a node.js PANHAPOUN!</h2>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about">About Page</a>
    </nav> -->

   <!-- <% const name = 'PANHAPOUN' %>  -->
    <%- include('./partials/nav.ejs') %>
    
    <div class="blogs content">
        <h2>All Homepage</h2>

        <% if(blogs.length > 0){ %>
            <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
            <% }) %>
        <% } else { %>
            <p>There are no blogs to display...</p>
            <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>